<div class="searchItem">
  <img
    src="https://cf.bstatic.com/xdata/images/hotel/square600/261707778.webp?k=fa6b6128468ec15e81f7d076b6f2473fa3a80c255582f155cae35f9edbffdd78&o=&s=1"
    alt=""
    class="siImg"
  />
  <div class="siDesc">
    <h1 class="siTitle">Tower Street Apartments</h1>
    <span class="siDistance">500m from center</span>
    <span class="siTaxiOp">Free airport taxi</span>
    <span class="siSubtitle"> Studio Apartment with Air conditioning </span>
    <span class="siFeatures">
      Entire studio • 1 bathroom • 21m² 1 full bed
    </span>
    <span class="siCancelOp">Free cancellation </span>
    <span class="siCancelOpSubtitle">
      You can cancel later, so lock in this great price today!
    </span>
  </div>
  <div class="siDetails">
    <div class="siRating">
      <span>Excellent</span>
      <button>8.9</button>
    </div>
    <div class="siDetailTexts">
      <span class="siPrice">$112</span>
      <span class="siTaxOp">Includes taxes and fees</span>
      <button class="siCheckButton">See availability</button>
    </div>
  </div>
</div>
