/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "@mobiscroll/angular/dist/css/mobiscroll.scss";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.datepickerOne {
    height: 50%;
    background-color: white;
    position: absolute;
    border: solid 1px black;
    border-radius: 10%;
}


